.DS_Store
_region_.log
_region_.run.xml
_region_.tex
d_tyo-blx.bib
d_tyo.aux
d_tyo.bbl
d_tyo.blg
d_tyo.fdb_latexmk
d_tyo.fls
d_tyo.lof
d_tyo.log
d_tyo.lot
d_tyo.out
d_tyo.run.xml
d_tyo.tex.project.vim
d_tyo.toc
prv_d_tyo.log
test.gitignore
d_tyo.pdf
.2015-07-07-210836.py.sage-chat
.2015-07-07-210836.py.sage-history
.README.md.sage-chat
.README.md.sage-history
.d_tyo.tex.sage-chat
.d_tyo.tex.sage-history
.references.bib.sage-chat
.references.bib.sage-history
.sisalto.md.sage-chat
.sisalto.md.sage-history
.thesis_refs.bib.sage-chat
.thesis_refs.bib.sage-history
2015-07-16-110715.term
d_tyo.synctex.gz
..gitignore.sage-chat
..gitignore.sage-history