.DS_Store
_region_.log
_region_.run.xml
_region_.tex
d_tyo-blx.bib
d_tyo.aux
d_tyo.bbl
d_tyo.blg
d_tyo.fdb_latexmk
d_tyo.fls
d_tyo.lof
d_tyo.log
d_tyo.lot
d_tyo.out
d_tyo.run.xml
d_tyo.tex.project.vim
d_tyo.toc
prv_d_tyo.log
test.gitignore
d_tyo.pdf
